.launch-card{

    flex:0.8;

    background:linear-gradient(

        180deg,

        #171821,

        #14151d

    );

    border-radius:28px;

    padding:25px 31px;

    min-height:280px;

    border:1px solid rgba(255,255,255,.04);

    box-shadow:

        0 20px 50px rgba(0,0,0,.45);

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.launch-card h3{

    color:white;

    font-size:28px;

    font-weight:700;

    line-height:1.2;

    margin-bottom:24px;

    text-align:left;

}

.launch-card p{

    color:#9B9CA7;

    font-size:16px;

    line-height:1.8;

    margin-bottom:40px;

    text-align:left;

}